.battle-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.arena {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    height: 100%;
}

/* .player,
.enemy {
    text-align: center;
}

.player img,
.enemy img {
    width: 250px;
} */

.cards {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    gap: 20px;
}

/* .cards button {
    padding: 20px;
    background: crimson;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
} */

/* .cards button:hover {
    transform: scale(1.05);
} */

.quiz-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 40px;
    border-radius: 20px;
    width: 500px;
    z-index: 100;
    outline-style: auto;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.answers button {
    padding: 15px;
    border: none;
    cursor: pointer;
}

/* .hp-bar {
    width: 250px;
    height: 25px;
    background: gray;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 10px;
} */

.hp-fill {
    height: 100%;
    background: limegreen;
    transition: width 0.3s ease;
}

.hud {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;
}

.hud-player,
.hud-enemy {
    width: 300px;
    text-align: center;
    color: white;
}

.hp-bar {
    width: 100%;
    height: 20px;
    background: #222;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
}

.player-hp {
    background: limegreen;
}

.enemy-hp {
    background: red;
}

.hp-text {
    margin-top: 5px;
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.vs {
    font-size: 28px;
    font-weight: bold;
    color: yellow;
    text-shadow: 0 0 10px black;
}

.hud-player h3,
.hud-enemy h3 {
    margin-bottom: 5px;
    text-shadow: 2px 2px 0 black;
}

.hp-fill {
    transition: width 0.5s cubic-bezier(0.2, 1, 0.2, 1);
}

.fighter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes idleFloat {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

.fighter img {
    display: block;
}

.enemy-fighter img {
    transform: scaleX(-1);
}