.battle-page {
    height: 100vh;
    background: #111;
    color: white;
    padding: 20px;
}

    .arena {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.player,
.enemy {
    text-align: center;
}

.player img,
.enemy img {
    width: 250px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.cards button {
    padding: 20px;
    background: crimson;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
}

.cards button:hover {
    transform: scale(1.05);
}